.forgot-password_container{
    border-radius: 12px;
    background-color: aliceblue;
}

.check-code , .input-email , .change-code
{
}

.cancel-modal{
    width: 100% !important;
    position: relative;
    left: 88%;
    
}